<html>
<head>
<title>Cell</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Cell" />
<meta name="twitter:description" content="Universal NFT Protocol" />
<meta name="twitter:image" content="https://c0.cell.computer/c0.png" />
<meta property="og:url" content="https://c0.cell.computer" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Cell" />
<meta property="og:description" content="Universal NFT Protocol" />
<meta property="og:image" content="https://c0.cell.computer/c0.png" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.1/web3.min.js"></script>
<script>
/********************************************************************************************
*
*   URL structure
*     - home: https://c0.cell.computer
*     - directory: https://c0.cell.computer/v0#<chainId>
*       - https://c0.cell.computer/v0#4 => rinkeby
*       - https://c0.cell.computer/v0#1 => eth mainnet
*     - contract dashboard: https://c0.cell.computer/v0/contract#<chainId>.<index>
*       - https://c0.cell.computer/v0/contract#1.0 => mainnet index 0
*       - https://c0.cell.computer/v0/contract#4.1 => rinkeby index 1
*
********************************************************************************************/
</script>
</head>
<body>
<nav>
  <div class='navbar'>
    <a class='brand' href="/"><img class='mini' src="/nuron.png"></a>
  </div>
</nav>
<div class='container'>
  <a class="row indent" href="v0#1">Ethereum</a>
  <a class="row indent" href="v0#4">Rinkeby</a>
</div>
</body>
</html>
